{{listJson.name}}
<div>
  <table>
    <tr ng-repeat="task in taskJson">
      <td>
        <input ng-model="task.completed" type="checkbox" ng-checked="{{task.completed}}" ng-click="updateRoute(listJson, task)">
      </td>
      <td>
        <p>{{task.text}}</p>
      </td>
      <td>
        Delete: <a style="color:red; cursor:pointer" ng-click="destroyRoute(listJson, task)">X</a>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>
        <input ng-model="newTaskText" placeholder="New Task">
      </td>
      <td>
        <button ng-click="createRoute(listJson, newTaskText)">Create</a>
      </td>
    </tr>
  </table>
</div>