{{listJson.name}}

<div>
  <button ng-click="hideCompleted()">Hide Completed</button>
  <button ng-click="showAll()">Show All</button>
  <button ng-click="sortCreated()">Sort By Date</button>
</div>
<div>
  <table>
    <tr ng-repeat="task in taskJson" task-info task="task" list="listJson" tasks="taskJson" ng-if="displayTask(task)" categories="categories" category-object="categoryObject">
    </tr>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>
        <input ng-model="newTaskText" placeholder="New Task">
      </td>
      <td>
        <button ng-click="createRoute(listJson, newTaskText)">Create</a>
      </td>
    </tr>
  </table>
</div>