{{listJson.name}}
<div>
  <table>
    <tr ng-repeat="task in taskJson">
      <td>
        <input type="checkbox" ng-checked="{{task.completed}}">
      </td>
      <td>
        <p>{{task.text}}</p>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
      </td>
      <td>
        <input value="">
      </td>
    </tr>
  </table>
</div>